<div *ngIf="isLoggedIn$ | async as isLoggedIn"
     class="navbar d-flex sticky-top align-items-center border-bottom shadow-sm">
  <img class="manga"
       src="assets/images/manga.png">
  <h5 class="my-0 ml-2 mr-auto">
    FRUTAR
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <div class="p-2 text-dark">
      <i class="fa fa-user"></i>
      {{ auth.jwtPayload?.user_name }}
    </div>
  </nav>
  <a class="btn btn-outline-secondary btn-sm"
     (click)="logout()">Sair</a>
</div>


<!-- <header class="navbar navbar-light bg-light sticky-top flex-md-nowrap p-0 shadow">
  <img class="manga"
       src="assets/images/manga.png">
       <h5 class="my-0 ml-2 mr-auto">
        FRUTAR
      </h5>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sair</a>
    </li>
  </ul>
</header> -->

<div class="container-fluid">
  <nav *ngIf="isLoggedIn$ | async as isLoggedIn"
       id="sidebarMenu"
       class="sidebar bg-light">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link"
             [routerLink]="'/rocas'">
            Início
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             [routerLink]="'/rocas'"
             [routerLinkActive]="'active'">
            Roças
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             [routerLink]="'/financeiro'"
             [routerLinkActive]="'active'">
            Financeiro
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             [routerLink]="'/estoque'"
             [routerLinkActive]="'active'">
            Estoque
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>

<ng2-toasty [position]="'top-center'"></ng2-toasty>