<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <div class="navbar-brand col-md-3 col-lg-2 px-md-5">FRUTAR</div>
  <ul class="navbar-nav px-3">
    <li *ngIf="mostraSair()" class="nav-item text-nowrap">
      <a class="nav-link" (click)="logout()">Sair</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">

    <main role="main"
          class="col-md-12 px-md-5 pt-3">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<ng2-toasty [position]="'top-center'"></ng2-toasty>