<div *ngIf="exibindoNavbar()"
     class="d-flex align-items-center border-bottom shadow-sm">
  <img class="manga"
       src="assets/images/manga.png">
  <h5 class="my-0 ml-2 mr-auto">
    FRUTAR
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <div class="p-2 text-dark">
      <i class="fa fa-user"></i>
      {{ auth.jwtPayload?.user_name }}
    </div>
  </nav>
  <a class="btn btn-outline-secondary btn-sm"
     (click)="logout()">Sair</a>
</div>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<ng2-toasty [position]="'top-center'"></ng2-toasty>