.row {
  max-width: 1024px;
}

.navbar {
  background-color: #fff;
}

.sidebar {
  width: 200px;
}

.d-flex {
  height: 50px;
  margin-bottom: 20px;
  padding: 0 15px;
  h5 {
    font-size: initial;
  }
}

// @media (max-width: 1200px) {
//   .d-flex {
//     padding: 0 10px;
//   }
// }
