.total {
    font-weight: bold;
}
.despesas {
    color: #ff3232;
    font-weight: bold;
}
.lucro {
    color: #329932;
    font-weight: bold;
}
.roca-title {
    font-size: 20px;
    padding-top: 4px;
}