.grid-header {
  height: 41px;
  padding: 5px 10px;

  button {
    color: white;
  }
}

table {
  width: 100%;
  margin-bottom: 30px;

  th.mat-header-cell.cdk-header-cell.cdk-column-action.mat-column-action {
    width: 100px;
  }
}

.mat-row:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  transform: scale(1);
  cursor: pointer;
}

.mat-checkbox {
  .mat-checkbox-inner-container {
    margin-top: 5px;
  }
}

.mat-row {
  .mat-checkbox-layout {
    margin-bottom: 0;
  }
}
