<!-- <div class="grid-header bg-dark">
    <button type="button"
            class="btn btn-link btn-sm"
            (click)="add()">
        <i class="fa fa-plus"></i> Adicionar
    </button>
    <button type="button"
            class="btn btn-link btn-sm"
            (click)="remove()"
            [disabled]="this.selection?.selected?.length == 0">
        <i class="fa fa-trash"></i> Excluir
    </button>
    <button type="button"
            class="btn btn-link btn-sm">
        <i class="fa fa-print"></i> Imprimir
    </button>
</div> -->

<table mat-table
       [dataSource]="dataSource"
       class="mat-elevation-z8">
    <ng-container matColumnDef="select">
        <th mat-header-cell
            *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          color="primary"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
        </th>
        <td mat-cell
            *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          color="primary"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <ng-container *ngFor="let column of columns"
                  [matColumnDef]="column.columnDef">
        <th mat-header-cell
            *matHeaderCellDef> {{ column.header }} </th>
        <td mat-cell
            *matCellDef="let item">
            <div *ngIf="column.isCurrency">{{ column.cell(item) | currency : 'BRL' }}</div>
            <div *ngIf="!column.isCurrency">{{ column.cell(item) }}</div>
        </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell
            *matHeaderCellDef> AÇÔES </th>
        <td mat-cell
            *matCellDef="let item">
            <button *ngFor="let button of buttons"
                    class="btn btn-sm btn-outline-secondary"
                    (click)="open(button.url, item.id)">
                <i [class]="button.icon"></i> {{ button.text }}
            </button>
        </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="tableCols"></tr>

    <tr mat-row
        (click)="viewRow(row)"
        *matRowDef="let row; columns: tableCols"></tr>
</table>